{% extends 'core/base.html' %}
{% load static %}

{% block title %}Wlcome to FastKart{% endblock title %}

{% block body %}
 <!-- Slider start hare -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="{% static 'images/1.jpg' %%}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="{% static 'images/2.jpg' %%}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="{% static 'images/3.jpg' %%}" class="d-block w-100"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Catagory start hare -->
    <div class="catagori">
        {% for i in cats %}
            <a href="catagory/{{i}}"><img src="{% static 'images/1.jpg' %}"><center>{{i}}</center></a>
        {% endfor %}
    </div>

    <!-- Products ariya start hare -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">

                {% for products in AllProd %}
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="/media/{{products.images}}">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{products.category}}</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">{{products.product_name}}</h2>
                        <p class="mt-1">{{products.price}}</p>
                    </div>
                    <a href="product/{{products.id}}"><button class="btn btn-primary my-3">View</button></a>
                    <a href="product/{{products.id}}"><button class="btn btn-success my-3 ms-4">Add to cart</button></a>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>

{% endblock body %}