{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}"> {% endblock css %}
{% block title %} Search name hare {% endblock title %}
{% block body %}

<body>
    <!-- Products start hare -->
    <div class="main">
        {% for i in allProd %}
            <a href="/product/{{i.id}}">
            <div class="product">
                <img src="/media/{{i.images}}">
                <div class="Product_details">
                    <h1 class="ms-4" style="font-size: 30px;"><b>{{i.product_name}}</b></h1>
                    <span class="badge bg-secondary my-4">4.8</span> 
                    <span class="material-icons-outlined " class="icon">verified</span>
                    <br>
                    <span class="prise my-2" style="position: relative; left: -2;">{{i.price}}</span>
                    <ul>
                        <li>{{i.desc}}</li>
                    </ul>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
    {% endblock body %}